<ion-header class="ion-text-center">
  <ion-toolbar color="secondary" >
    <ion-buttons slot="start">
      <ion-back-button>back</ion-back-button>
  </ion-buttons>
    <ion-title>Chicken Wrap Recipe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="danger">
  <ion-card>
    <video 
    width="100%"
    controls="controls"
    preload="metadata"
    
    webkit-playsinline="webkit-playsinline"
    class="videoPlayer">
    <source src="assets/chicken wrap.mp4" type="video/mp4"/>
  </video>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Ingredients of Chicken Wrap</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><b>- ½ cup mayonnaise</b></p>
      <p><b>- ¼ cup finely chopped seedless cucumber</b></p>
      <p><b>- 1 tablespoon honey</b></p>
      <p><b>- ½ teaspoon cayenne pepper</b></p>
      <p><b>- 1 cup thick and chunky salsa</b></p>
      <p><b>- 2 large eggs</b></p>
      <p><b>- 2 tablespoons vegetable oil, plus more for cooking</b></p>
      <p><b>-1 ½ pounds skinless, boneless chicken breast halves - cut into thin strips</b></p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">How to make Chicken Wrap</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><b>Step 1 </b></p><br>
<p>Mix together the mayonnaise, cucumber, 1 tablespoon of honey, 1/2 teaspoon of cayenne pepper, and black pepper in a bowl until smooth. Cover and refrigerate until needed.</p><br>

<p><b>Step 2</b></p><br>
<p>Heat the olive oil in a skillet on medium-high heat, and cook and stir the chicken breast strips until they are beginning to turn golden and are no longer pink in the middle, about 8 minutes. Stir in the salsa, 1 tablespoon of honey, and 1/2 teaspoon of cayenne pepper. Reduce the heat to medium-low and simmer, stirring occasionally, until the flavors have blended, about 5 minutes.</p><br>

<p><b>Step 3</b></p><br>
<p>Stack the tortillas, 4 at a time, in a microwave oven and heat until warm and pliable, 20 to 30 seconds per batch.</p><br>

<p><b>Step 4 </b></p><br>
<p>Spread each tortilla with 1 tablespoon of the mayonnaise-cucumber mixture, top with a layer of baby spinach leaves, and arrange about 1/2 cup of chicken mixture on the spinach leaves.</p><br>

<p><b>Step 5 </b></p><br>
<p>Fold the bottom of each tortilla up about 2 inches, and start rolling the burrito from the right side. When the burrito is half-rolled, fold the top of the tortilla down, enclosing the filling, and continue rolling to make a tight, compact cylinder.</p><br>
    </ion-card-content>
  </ion-card>
</ion-content>


