<ion-header class="ion-text-center">
  <ion-toolbar color="secondary" >
    <ion-title>FAQ</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="danger">
<ion-card>
  <ion-card-header>
    <ion-card-title class="ion-text-center">How can I use this apps?</ion-card-title>
  </ion-card-header>
  <ion-card-content>
   <p>1. You must login to use this apps.</p><br>
   <p>2. You must choose the recipe category that are display at homepage.</p><br>
   <p>3. You can choose your favourite cooking recipe if you have click the recipe category at homepage.</p><br>

  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title class="ion-text-center">Can I search recipe in this app?</ion-card-title>
  </ion-card-header>
  <ion-card-content>
   <p>No , you cannot search the recipe that you like.</p><br>

  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title class="ion-text-center">How can I logout this app?</ion-card-title>
  </ion-card-header>
  <ion-card-content>
   <p>At the sidebar menu, you must click logout button to logout this app.</p><br>

  </ion-card-content>
</ion-card>
</ion-content>
