<ion-header class="ion-text-center">
  <ion-toolbar color="secondary" >
    <ion-buttons slot="start">
      <ion-back-button>back</ion-back-button>
  </ion-buttons>
    <ion-title>Egg Sandwich Recipe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="danger">
  <ion-card>
    <video 
    width="100%"
    controls="controls"
    preload="metadata"
    
    webkit-playsinline="webkit-playsinline"
    class="videoPlayer">
    <source src="assets/recipeeggsandwich.mp4" type="video/mp4"/>
  </video>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Ingredients of Egg Sandwich</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><b>- 1 and 1/4 egg</b></p>
      <p><b>- 1 teaspoon butter</b></p>
      <p><b>- 1/4 teaspoon mustard paste</b></p>
      <p><b>- black pepper as required</b></p>
      <p><b>- water As required</b></p>
      <p><b>- 1 and 1/4 tablespoon mayonnaise</b></p>
      <p><b>- salt as required</b></p>
      <p><b>- 2 bread slices</b></p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">How to make egg sandwich</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><b>Step 1 Boil, peel and chop the eggs.</b></p><br>
<p>To prepare this easy recipe, take a deep-bottomed pan and add enough water to it along with eggs. Let the eggs boil for 10 minutes. After the eggs boil, drain water and let the eggs cool a little before you start peeling and chopping the eggs.</p><br>

<p><b>Step 2 Add the seasoning and sources to the chopped eggs.</b></p><br>
<p>Take a bowl and add egg, mayonnaise, salt, mustard paste to the bowl and mix thoroughly. Stir in pepper to the mixture.</p><br>

<p><b>Step 3 Spread the egg mixture on toasted bread & cover with another slice.</b></p><br>
<p>Toast the bread slices. Then, take a bread slice, spread butter on it and add the egg mixture on the bread. Cover it up with the other bread slices. Serve!</p><br>
    </ion-card-content>
  </ion-card>
</ion-content>

