<ion-header class="ion-text-center">
  <ion-toolbar color="secondary" >
    <ion-buttons slot="start">
      <ion-back-button>back</ion-back-button>
  </ion-buttons>
    <ion-title>ButterMilk Chicken Recipe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="danger">
  <ion-card>
    <video 
    width="100%"
    controls="controls"
    preload="metadata"
    
    webkit-playsinline="webkit-playsinline"
    class="videoPlayer">
    <source src="assets/buttermilk.mp4" type="video/mp4"/>
  </video>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Ingredients of ButterMilk Chicken</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><b>500 g Chicken Meat</b></p>
      <p><b>2 cups of flour</b></p>
      <p><b>1 tsp of Salt.</b></p>
      <p><b>Black pepper.</b></p>
      <p><b> 1 large egg or 2 medium sized eggs.</b></p>
      <p><b>3 tbsps of butter</b></p>
      <p><b>15-20 pcs of large curry leaves</b></p>
      <p><b>1 can of evaporated milk</b></p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">How to make ButterMilk Chicken</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><b>Step 1 </b></p><br>
<p>Heat the pan with butter.</p><br>

<p><b>Step 2</b></p><br>
<p>Add in the garlic and cili padi, stir until fragrant.</p><br>

<p><b>Step 3</b></p><br>
<p>Insert the curry leaves and stir. Leave it until the aroma of the curry arises.</p><br>

<p><b>Step 4 </b></p><br>
<p>our in the evaporated milk and stir. You can add water if you want to have more liquid.  Cook for about 5 minutes and then add salt to taste. Let it simmer for a while.</p><br>

<p><b>Step 5 </b></p><br>
<p>Add in the chicken and turn off the heat.</p><br>
    </ion-card-content>
  </ion-card>
</ion-content>
