<ion-header class="ion-text-center">
  <ion-toolbar color="secondary" >
    <ion-buttons slot="start">
      <ion-back-button>back</ion-back-button>
  </ion-buttons>
    <ion-title>Pizza Recipe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="danger">
  <ion-card>
    <video 
    width="100%"
    controls="controls"
    preload="metadata"
    webkit-playsinline="webkit-playsinline"
    class="videoPlayer">
    <source src="assets/pizza.mp4" type="video/mp4"/>
  </video>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Ingredients of Pizza</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><b>- 3 3/4 cups (490 g) bread flour</b></p>
      <p><b>- 2 tablespoons extra virgin olive oil (omit if cooking pizza in a wood-fired pizza oven)</b></p>
      <p><b>- 1 teaspoons sugar</b></p>
      <p><b>- 2 teaspoons salt</b></p>
      <p><b>- Extra Virgin olive oil</b></p>
      <p><b>- Tomato sauce (smooth, or puréed)s</b></p>
      <p><b>- Fontina cheese, grated </b></p>
      <p><b>- Parmesan cheese, grated</b></p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">How to make Pizza</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><b>1. Proof the yeast </b></p><br>
<p>Place the warm water in the large bowl of a heavy duty stand mixer. Sprinkle the yeast over the warm water and let it sit for 5 minutes until the yeast is dissolved.</p><br>

<p><b>2. Make and knead the pizza dough.</b></p><br>
<p>Add the flour, salt, sugar, and olive oil, and using the mixing paddle attachment, mix on low speed for a minute. Then replace the mixing paddle with the dough hook attachment.</p><br>

<p><b>3.Spread with tomato sauce and sprinkle with toppings</b></p><br>
<p>Spoon on the tomato sauce, sprinkle with cheese, and place your desired toppings on the pizza. Be careful not to overload the pizza with too many toppings, or your pizza will be soggy.</p><br>

<p><b>4. Sprinkle cornmeal on pizza stone, slide pizza onto pizza stone in oven  </b></p><br>
<p>Sprinkle some cornmeal on the baking stone in the oven (watch your hands, the oven is hot!). Gently shake the peel to see if the dough will easily slide, if not, gently lift up the edges of the pizza and add a bit more cornmeal.</p><br>

<p><b>5. Bake pizza </b></p><br>
<p>Bake pizza in the 475°F (245°C) oven, one at a time, until the crust is browned and the cheese is golden, about 10-15 minutes. If you want, toward the end of the cooking time you can sprinkle on a little more cheese.</p><br>
    </ion-card-content>
  </ion-card>
</ion-content>

