<ion-header class="ion-text-center">
  <ion-toolbar color="secondary" >
    <ion-buttons slot="start">
      <ion-back-button>back</ion-back-button>
  </ion-buttons>
    <ion-title>Salad Recipe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="danger">
  <ion-card>
    <video 
    width="100%"
    controls="controls"
    preload="metadata"
    
    webkit-playsinline="webkit-playsinline"
    class="videoPlayer">
    <source src="assets/Salad Recipes.mp4" type="video/mp4"/>
  </video>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Ingredients of Salad</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><b>- 3 ears of corn 2 cups corn kernels</b></p>
      <p><b>- 1 lb mini cucumbers or 1 large English cucumber sliced.</b></p>
      <p><b>- 1 lb grape/cherry tomatoes cut in halves or regular size, chopped.</b></p>
      <p><b>- 3 medium-large avocados cubed.</b></p>
      <p><b>- 3 green onion sprigs finely chopped.</b></p>
      <p><b>- 1 lime zest and juice of</b></p>
      <p><b>- 2 tbsp olive oil extra virgin</b></p>
      <p><b>- Ground black pepper to taste</b></p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">How to make Salad</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><b>Step 1</b></p><br>
<p>To grill corn, remove it from the husk and grill on medium heat for approximately 20 minutes. Turn every 5 minutes.</p><br>

<p><b>Step 2</b></p><br>
<p>To cook corn in Instant Pot, add 1 cup water, trivet and as many corn as you can fit. Pressure cook on High Pressure for 2 minutes and then release pressure right away.</p><br>

<p><b>Step 3</b></p><br>
<p>If using frozen corn, run it in a colander under warm water for 1 minute and drain.</p><br>

<p><b>Step 4 </b></p><br>
<p>Cut off cooked kernels from the cob by slicing them with a chef’s knife. You will end up with strips of cooked corn.</p><br>

<p><b>Step 5</b></p><br>
<p>Add cooked corn, cucumber, tomato, avocado, green onion, lime zest and juice, olive oil, salt and pepper to a large salad bowl.</p><br>
    </ion-card-content>
  </ion-card>
</ion-content>
