<ion-header class="ion-text-center">
  <ion-toolbar color="secondary" >
    <ion-buttons slot="start">
      <ion-back-button>back</ion-back-button>
  </ion-buttons>
    <ion-title>Chicken Rice Recipe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="danger">
  <ion-card>
    <video 
    width="100%"
    controls="controls"
    preload="metadata"
    
    webkit-playsinline="webkit-playsinline"
    class="videoPlayer">
    <source src="assets/chicken rice.mp4" type="video/mp4"/>
  </video>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Ingredients of Chicken Rice</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><b>3 cups uncooked washed rice</b></p>
      <p><b>5 tbsp vegetable oil</b></p>
      <p><b>4 cloves finely chopped garlic</b></p>
      <p><b>1 whole chicken, preferably free range organic chicken</b></p>
      <p><b> small thumb of ginger, cleaned and bruised</b></p>
      <p><b>10 bowls chicken stock, adjust accordingly</b></p>
      <p><b>2 tbsp light soy sauce</b></p>
      <p><b>-1 ½ pounds skinless, boneless chicken breast halves - cut into thin strips</b></p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">How to make chicken rice</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><b>Step 1 </b></p><br>
<p>Wash chicken, drain well, stuff ginger and scallion into the chicken's cavity. Using 2 tsp of salt as scrub, rub the salt all over the chicken for smooth looking skin.</p><br>

<p><b>Step 2</b></p><br>
<p>In a not too large stockpot which fits the chicken perfectly, boil the chicken stock (enough to cover the whole chicken) together with pandan leaves, carrot and salt.</p><br>

<p><b>Step 3</b></p><br>
<p>Heat oil in wok, fry chopped shallots and garlic till fragrant and golden in colour. Add rice and stir well. Transfer the rice mixture to rice cooker.</p><br>

<p><b>Step 4 </b></p><br>
<p>Line a serving plate with cucumber slices.</p><br>

<p><b>Step 5 </b></p><br>
<p>Arrange chicken pieces on top, pour in the prepared sauce before garnishing with cilantro.</p><br>
    </ion-card-content>
  </ion-card>
</ion-content>

