<ion-header class="ion-text-center">
  <ion-toolbar color="secondary" >
    <ion-buttons slot="start">
      <ion-back-button>back</ion-back-button>
  </ion-buttons>
    <ion-title>Pancake Recipe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="danger">
  <ion-card>
    <video 
    width="100%"
    controls="controls"
    preload="metadata"
    
    webkit-playsinline="webkit-playsinline"
    class="videoPlayer">
    <source src="assets/pancake.mp4" type="video/mp4"/>
  </video>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Ingredients of Pancake</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><b>- 2 cups all-purpose flour</b></p>
      <p><b>- 2 tablespoons granulated sugar</b></p>
      <p><b>- 2 teaspoons baking powder</b></p>
      <p><b>- 1/2 teaspoon kosher salt</b></p>
      <p><b>- 1 1/2 cups milk</b></p>
      <p><b>- 2 large eggs</b></p>
      <p><b>- 2 tablespoons vegetable oil, plus more for cooking</b></p>
      <p><b>- Powdered sugar or maple syrup, for serving</b></p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">How to make Pancake</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><b>1. Combine the dry ingredients in a large bowl. </b></p><br>
<p>Place 2 cups all-purpose flour, 2 tablespoons granulated sugar, 2 teaspoons baking powder, and 1/2 teaspoon kosher salt in a large bowl and whisk to combine.</p><br>

<p><b>2. Add the wet ingredients.</b></p><br>
<p>Add 1 1/2 cups milk, 2 large eggs, and 2 tablespoons vegetable oil. Whisk until almost smooth, a few small lumps are fine.</p><br>

<p><b>3. Let the batter rest while you heat a pan.</b></p><br>
<p>Set the batter aside for 10 minutes. Meanwhile, heat a large cast iron or nonstick skillet over medium-high heat.</p><br>

<p><b>4. Flip and cook for another 2 to 3 minutes.  </b></p><br>
<p>Flip the pancakes. Cook until the second sides are golden-brown, 2 to 3 minutes more. Transfer to a warm oven or plate. Repeat using more oil and cooking the remaining batter.</p><br>
    </ion-card-content>
  </ion-card>
</ion-content>

