<ion-header class="ion-text-center">
  <ion-toolbar color="secondary" >
    <ion-buttons slot="start">
      <ion-back-button>back</ion-back-button>
  </ion-buttons>
    <ion-title>Tuna Sandwich Recipe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="danger">
  <ion-card>
    <video 
    width="100%"
    controls="controls"
    preload="metadata"
    webkit-playsinline="webkit-playsinline"
    class="videoPlayer">
    <source src="assets/tunasandwich.mp4" type="video/mp4"/>
  </video>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Ingredients of Tuna Sandwich</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><b>- 2 cans (6 oz each) tuna in water, drain</b></p>
      <p><b>- 1/2 cup chopped celery</b></p>
      <p><b>- 1/4 cup chopped onion</b></p>
      <p><b>- 1/4 cup chopped onion</b></p>
      <p><b>- 1 teaspoon lemon juice</b></p>
      <p><b>- 1/4 teaspoon salt</b></p>
      <p><b>- 1/4 teaspoon pepper</b></p>
      <p><b>- 8 slices bread</b></p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">How to make Tuna Sandwich</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><b>Step 1 </b></p><br>
<p>In a medium bowl, mix the tuna, celery, onion, mayonnaise, lemon juice, salt and pepper.</p><br>

<p><b>Step 2</b></p><br>
<p>Cut the celery and any other vegetables you’d like to add into a small dice so it’s still easy to make a sandwich. 1 to 2 tablespoons of chopped sweet red bell pepper, dill pickle, pitted olives, or water chestnuts are all good stir-ins for the tuna salad.</p><br>

<p><b>Step 3</b></p><br>
<p>Spread tuna mixture on 4 bread slices. Top with remaining bread slices.</p><br>

    </ion-card-content>
  </ion-card>
</ion-content>
